In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/ShishirIITM/Training_Prog_Dataset/main/GAVS_Datasets/HospitalCosts.csv'
hospital_df = pd.read_csv(url)

In [3]:
np.shape(hospital_df)

(500, 6)

In [4]:
hospital_df.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [5]:
hospital_df[hospital_df.isnull().any(axis=1)]

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
276    0       1    2   NaN    1156     640

In [6]:
hospital_df = hospital_df.dropna()
hospital_df.reset_index(inplace=True)
print(hospital_df.isnull().sum())

index     0
AGE       0
FEMALE    0
LOS       0
RACE      0
TOTCHG    0
APRDRG    0
dtype: int64

In [7]:
X = hospital_df[['AGE', 'LOS','APRDRG']]
y = hospital_df[['TOTCHG']]
print(X)
print(y)

     AGE  LOS  APRDRG
0     17    2     560
1     17    2     753
2     17    7     930
3     17    1     758
4     17    1     754
..   ...  ...     ...
494    0    6     636
495    0    2     640
496    0    2     640
497    0    2     640
498    0    4     640

[499 rows x 3 columns]
     TOTCHG
0      2660
1      1689
2     20060
3       736
4      1194
..      ...
494    5881
495    1171
496    1171
497    1086
498    4931

[499 rows x 1 columns]

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state = 100)

In [10]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [11]:
print(lm.coef_)
print(lm.intercept_)

[[110.46839974 724.17859289  -9.13305086]]
[5754.35869291]

In [12]:
y_pred = lm.predict(X_test)

In [13]:
lm.score(X_test, y_test)

0.21092319431508577

In [14]:
lm.score(X_train, y_train)

0.7341441894011078

In [15]:
from sklearn.metrics import mean_squared_error
mse2 = mean_squared_error(y_test, y_pred)
rmse2 = np.sqrt(mse2)
print('Mean squared error for the second model is: ', mse2)
print('Root mean squared error for the second model is: ', rmse2)

Mean squared error for the second model is:  21383585.717961196
Root mean squared error for the second model is:  4624.238933917796

In [16]:
import statsmodels.api as sm
x_train = sm.add_constant(X_train)
model2 = sm.OLS(y_train, x_train)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 TOTCHG   R-squared:                       0.734
Model:                            OLS   Adj. R-squared:                  0.732
Method:                 Least Squares   F-statistic:                     363.6
Date:                Thu, 06 Oct 2022   Prob (F-statistic):          3.18e-113
Time:                        16:50:12   Log-Likelihood:                -3555.6
No. Observations:                 399   AIC:                             7119.
Df Residuals:                     395   BIC:                             7135.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5754.3587    330.491     17.412      0.000    5104.616    6404.101
AGE          110.4684     12.977      8.512      0.000      84.955     135.982
LOS          724.1786     27.403     26.427      0.000     670.305     778.052
APRDRG        -9.1331      0.498    -18.329      0.000     -10.113      -8.153
==============================================================================
Omnibus:                      325.450   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9119.057
Skew:                           3.218   Prob(JB):                         0.00
Kurtosis:                      25.519   Cond. No.                     2.35e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.35e+03. This might indicate that there are
strong multicollinearity or other numerical problems.